html {
  height: 100%;
  width: 100%;
}

/* set a small margin on the image and format to fit the page*/
img{
  max-width: 100%;
  max-height: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  
}
/* formatting below the different containers throughout the HTML*/
header{
  background-color: #d68c45;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding: 15px;
}

main, footer{
  background-color: #fefee3;
}

div{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0 auto;
  width: 100%;
  text-align: center;
  font-size: 16px;
 
  
  
}

article{
  
  margin: 0 auto;
  width: 70%;
  text-align: center;
  font-size: 16px;
  color: black;
}
/* formatting lists to be more visually appealing including removing bulleting */
ol{
  margin: 0 auto;
  width: 70%;
  
  
}

li{
  margin: 0 auto;}
ul{
  list-style-type: none;}
a:link {
  color: #2C6e49;
  text-decoration: none;
}
a:visited {
  color: #33658A;
  text-decoration: none;
}
a:hover {
  color: #E75A7C  ;
  text-decoration: underline;
}
a:active {
  color: #A22522;
  text-decoration: none;
}
  
  
